@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
#bg-color {
  background: #f8f4f4;
  font-family: "Oswald", sans-serif;
}
#move-to-blogs:hover {
  color: tomato;
}
.brand {
  background-color: tomato;
  color: white;
  padding: 0 3px;
  border-radius: 5px;
}
.particular-news {
  width: 100%;
  background-color: white;
  height: 50px;
  padding: 12px;
  border-radius: 10px;
}
.hover:hover {
  color: orangered;
}
.message-color {
  color: red;
}
.img-size {
  width: 40px;
  height: 40px;
}
.height-control {
  height: 180px;
}
